<h1>Hello !</h1>
Vous avez saisi les messages suivants :
<ul>
	<% @messages.each do |message| %>
		<% if !message.empty? %>
			<li><%= message %></li>
		<% end %>
	<% end %>
</ul>

<%= form_tag("/", :method => :get) do %><br>
	<%= hidden_field_tag 'nb_zones', @nb_zones %>
	<%= label_tag(:messages, "Messages :") %><br>
	<% (1..@nb_zones.to_i).each do %>
		<%= text_field_tag("messages[]") %><br>
	<% end %>
	<%= submit_tag("Show") %>
<% end %>

<%= link_to 'Ajouter une zone', "?nb_zones=#{@nb_zones}&&ajouter=true", class:"btn", id:"google" %>

<%= link_to 'Supprimer une zone', "?nb_zones=#{@nb_zones}&&supprimer=true", class:"btn", id:"google" %>


