<h1>Hello !</h1>
Vous avez saisi les notes suivantes :

<table border="10px solid" BORDERCOLOR="green">
	<tr>
		<th>id</th>
		<th>user</th>
		<th>Message</th>
	</tr>
	<% @notes.each do |note| %>
		<tr>
			<td><%= note.id %></td>
			<td><%= note.user %></td>
			<td><%= note.content %></td>
			<td>
				<%= link_to "Show",note %>
				<%= link_to "Delete",note, :method=> :delete %>
				<%= link_to "Preview ",preview_note_path(note.id) %>
			</td>
		</tr>
	<% end %>
</table>
<br>
Ajouter une note :

<%= form_tag("/", :method => :get) do %><br>
	<%= label_tag(:user, "User :") %><br>
	<%= text_field_tag("user") %><br>
	<%= label_tag(:message, "Content :") %><br>
	<%= text_field_tag("content") %><br>
	<%= submit_tag("Ajouter") %>
<% end %>