<!DOCTYPE html>
<html>
<head>
  <title>MyNotes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="wrap">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<%= link_to 'MyNotes', root_path, :class => "navbar-brand" %>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</div>


Le pied de page
</body>
</html>
